!!!
%html
  %head
    %title= 'Das Vyruz Projekt'
    %link{ rel: 'stylesheet', href: '/screen.css' }
    %link{ rel: 'stylesheet', href: 'http://fonts.googleapis.com/css?family=Droid+Serif:700,400' }
    %link{ rel: 'stylesheet', href: 'http://fonts.googleapis.com/css?family=Bentham' }

  %body
    %header
      %h1
        %a{ href: '/' }
          %span= 'Vyruz'

      = haml :social

    %section.content
      = haml :navigation
      = yield

    %footer
      %p='© 2012 DASVYRUZPROJEKT. All Rights Reserved'
