%nav
  %ul
    %li
      %a{ href: '/' }
        = 'Home'
        %span= 'Dvzpt'

      %a{ href: '/about' }
        = 'Sobre o Vyruz'
        %span= 'A epidemia'

      %a{ href: '/gallery' }
        = 'Exposição'
        %span= 'As mutações'

      %a{ href: '/blog' }
        = 'Blog'
        %span= 'Últimas notícias'

      %a{ href: '/contact' }
        = 'Contato'
        %span= 'infekte-se'


