%nav
  %ul
    %li
      %a{ href: '/', class: is_current?('/') }
        = 'Home'
        %span= 'Dvzpt'

    %li
      %a{ href: '/about', class: is_current?('/about') }
        = 'Sobre o Vyruz'
        %span= 'A epidemia'

    %li
      %a{ href: '/gallery', class: is_current('/gallery')  }
        = 'Exposição'
        %span= 'As mutações'

    %li
      %a{ href: '/blog' }
        = 'Blog'
        %span= 'Últimas notícias'
    %li
      %a{ href: '#' }
        = 'Contato'
        %span= 'infekte-se'


